<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{add.product.title}">Add product</title>
</head>
<body>
    <div align="center">
        <form method="post" enctype="multipart/form-data" action="#" th:action="@{/robowebstore/addproduct}" th:object="${newProduct}">
            <div style="margin: 20px">
                <label th:text="#{product.name}">Name</label>
                <input id="name" type="text" name="name"/>
            </div>
            <div style="margin: 20px">
                <label th:text="#{product.description}">description content</label>
                <input id="description" type="text" name="description" style="height: 100px; width: 200px"/>
            </div>
            <div style="margin: 20px">
                <label th:text="#{product.manufacturer}">manufacturer</label>
                <input id="manufacturer" type="text" name="manufacturer"/>
            </div>
            <div style="margin: 20px;">
                <label th:text="#{product.catergory}">category</label>
                <input id="category" type="text" name="category"/>
            </div>
            <div style="margin: 20px;">
                <label th:text="#{product.price}">price</label>
                <input id="price" type="number" step="any" min="0" name="price"/>
            </div>
            <div style="margin: 20px;">
                <label th:text="#{product.unitsInStock}">units in stock</label>
                <input id="unitsInStock" type="number" min="0" name="unitsInStock"/>
            </div>
            <div style="margin: 20px;">
                <label th:text="#{upload.product.image}">Picture</label>
                <input id="multipartFileImage" type="file" name="multipartFileImage">
            </div>
            <div style="margin: 20px;">
                <label th:text="#{upload.product.manual}">Picture</label>
                <input id="multipartFileManual" type="file" name="multipartFileManual">
            </div>
            <div style="margin: 20px;">
                <input th:value="#{submit}" id="submit" type="submit" value="submit">
            </div>
        </form>
    </div>
    <div align="center">
        <span th:text="#{logged.name}">Logged in as </span><span sec:authentication="name" />
        <span th:text="#{authorites}"> with authorities: </span><span sec:authentication="authorities" />
        <form id="logout" th:action="@{/robowebstore/logout}" method="post">
            <input  th:value="#{sign.out}" type="submit" value="Sign Out" />
        </form>
    </div>

</body>
</html>