<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{products.title}">Products</title>
</head>
<body>
    <table align="center">

            <tr style="min-height: 200px;">
                <td style="max-width: 200px"><img th:src="@{'data:image/jpeg;base64,'+${product.image}}" style="max-width: 200px"></td>
                <td style="min-width: 600px" align="left">
                    <table>
                        <tr>
                            <td th:text="#{product.name}+${product.name}">name content</td>
                        </tr>
                        <tr>
                            <td th:text="#{product.price}+${product.price}+' PLN'">price content</td>
                        </tr>
                        <tr>
                            <td th:text="#{product.description}+${product.description}">description content</td>
                        </tr>
                        <tr>
                            <td th:text="#{product.manufacturer}+${product.manufacturer}">manufacturer content</td>
                        </tr>
                        <tr>
                            <td th:text="#{product.catergory}+${product.category}">category content</td>
                        </tr>
                        <tr>
                            <td th:text="#{product.unitsInStock}+${product.unitsInStock}">units in stock content</td>
                        </tr>
                        <tr>
                            <td>
                                <a th:href="@{/robowebstore/products}">Products</a>

                            </td>
                        </tr>
                    </table>

                </td>

            </tr>


    </table>

</body>
</html>